-- MySQL dump 10.13  Distrib 5.7.26, for Win64 (x86_64)
--
-- Host: localhost    Database: wire_db
-- ------------------------------------------------------
-- Server version	5.7.26

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `b_dev`
--

DROP TABLE IF EXISTS `b_dev`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b_dev` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(32) NOT NULL COMMENT '璁惧鍚嶇О',
  `serial` varchar(16) NOT NULL COMMENT '缂栧彿',
  `addr` varchar(64) DEFAULT NULL COMMENT '鍦板潃',
  `feature` text NOT NULL COMMENT '璁惧鍔熻兘',
  `gid` int(10) unsigned NOT NULL DEFAULT '0',
  `proto` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `star` tinyint(4) NOT NULL DEFAULT '0',
  `uid` int(11) NOT NULL DEFAULT '0',
  `status` tinyint(1) NOT NULL DEFAULT '1',
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_dev_serial` (`serial`),
  KEY `idx_gid` (`gid`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COMMENT='璁惧琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b_dev`
--

LOCK TABLES `b_dev` WRITE;
/*!40000 ALTER TABLE `b_dev` DISABLE KEYS */;
INSERT INTO `b_dev` VALUES (1,'1','1',NULL,'[\"f01\",\"f02\",\"f03\",\"f04\",\"f05\",\"f06\",\"f07\",\"f08\",\"f09\",\"f10\",\"f11\",\"f12\",\"f13\",\"f14\",\"f15\",\"f16\",\"f17\",\"f18\",\"f19\",\"f20\",\"f21\",\"f22\",\"f23\",\"f24\",\"f25\",\"f26\",\"f27\",\"f28\",\"f29\",\"f30\",\"f31\",\"f32\",\"f33\",\"f34\",\"f35\",\"f36\",\"f37\",\"f38\",\"f39\",\"f40\",\"f41\",\"f42\",\"f43\",\"f44\",\"f45\",\"f46\",\"f47\",\"f48\",\"f49\",\"f50\",\"f51\",\"f52\",\"f53\",\"f54\",\"f55\",\"f56\",\"f57\",\"f58\",\"f59\",\"f60\"]',2,2,1,2,1,'2025-10-12 07:47:49','2025-10-21 01:22:44');
/*!40000 ALTER TABLE `b_dev` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b_dev_warn`
--

DROP TABLE IF EXISTS `b_dev_warn`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b_dev_warn` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `did` int(10) unsigned NOT NULL,
  `day` int(10) unsigned NOT NULL,
  `content` text NOT NULL,
  `status` tinyint(4) NOT NULL DEFAULT '0',
  `note` varchar(64) DEFAULT NULL,
  `deal_date` timestamp NULL DEFAULT NULL,
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_did` (`did`),
  KEY `idx_day` (`day`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b_dev_warn`
--

LOCK TABLES `b_dev_warn` WRITE;
/*!40000 ALTER TABLE `b_dev_warn` DISABLE KEYS */;
/*!40000 ALTER TABLE `b_dev_warn` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b_fireware`
--

DROP TABLE IF EXISTS `b_fireware`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b_fireware` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(64) NOT NULL COMMENT '鍚嶇О',
  `ver` int(11) unsigned NOT NULL COMMENT '鐗堟湰鍙?,
  `file` varchar(64) NOT NULL COMMENT '鏂囦欢',
  `size` int(11) NOT NULL COMMENT '鏂囦欢澶у皬',
  `checksum` varchar(64) NOT NULL COMMENT '鏍￠獙鍊?,
  `status` tinyint(4) NOT NULL COMMENT '鐘舵€侊細0鍋滅敤 1鍚敤 9鍒犻櫎',
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='鍥轰欢琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b_fireware`
--

LOCK TABLES `b_fireware` WRITE;
/*!40000 ALTER TABLE `b_fireware` DISABLE KEYS */;
/*!40000 ALTER TABLE `b_fireware` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `b_gateway`
--

DROP TABLE IF EXISTS `b_gateway`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `b_gateway` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(32) NOT NULL,
  `serial` varchar(32) NOT NULL,
  `xy` varchar(64) DEFAULT NULL,
  `addr` varchar(64) DEFAULT NULL,
  `fid` int(11) DEFAULT '0',
  `upgrade` int(11) DEFAULT '0',
  `uid` int(10) unsigned NOT NULL DEFAULT '0',
  `status` tinyint(1) NOT NULL DEFAULT '1',
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_serial` (`serial`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `b_gateway`
--

LOCK TABLES `b_gateway` WRITE;
/*!40000 ALTER TABLE `b_gateway` DISABLE KEYS */;
INSERT INTO `b_gateway` VALUES (1,'1','31',NULL,NULL,NULL,NULL,2,9,'2025-10-12 07:46:29','2025-10-12 07:46:40'),(2,'test','3230423336323534',NULL,NULL,NULL,NULL,2,1,'2025-10-12 07:47:19','2025-10-12 07:47:19'),(8,'2','32',NULL,'1',NULL,NULL,1,9,'2025-10-15 09:40:31','2025-10-18 08:07:07'),(13,'2','3231313131',NULL,'1',NULL,NULL,1,1,'2025-10-30 12:27:05','2025-10-30 12:27:05');
/*!40000 ALTER TABLE `b_gateway` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_log`
--

DROP TABLE IF EXISTS `s_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_log` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(16) NOT NULL COMMENT '鎿嶄綔浠ｅ彿',
  `content` varchar(255) NOT NULL COMMENT '鎿嶄綔鍐呭',
  `uid` int(10) unsigned NOT NULL COMMENT '鎿嶄綔浜?,
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='鍚庡彴鎿嶄綔鏃ュ織琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_log`
--

LOCK TABLES `s_log` WRITE;
/*!40000 ALTER TABLE `s_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `s_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_module`
--

DROP TABLE IF EXISTS `s_module`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_module` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(16) NOT NULL COMMENT '妯″潡缂栫爜',
  `name` varchar(32) NOT NULL COMMENT '妯″潡鍚嶇О',
  `url` varchar(50) NOT NULL COMMENT '妯″潡URL',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COMMENT='妯″潡琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_module`
--

LOCK TABLES `s_module` WRITE;
/*!40000 ALTER TABLE `s_module` DISABLE KEYS */;
INSERT INTO `s_module` VALUES (1,'sys','绯荤粺绠＄悊',''),(2,'dev','璁惧绠＄悊',''),(3,'dashboard','闈㈡澘',''),(4,'gateway','缃戝叧','');
/*!40000 ALTER TABLE `s_module` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_module_privilege`
--

DROP TABLE IF EXISTS `s_module_privilege`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_module_privilege` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `module_code` varchar(16) NOT NULL COMMENT '妯″潡缂栧彿',
  `privilege_code` varchar(16) NOT NULL COMMENT '鏉冮檺缂栫爜',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COMMENT='妯″潡鏉冮檺琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_module_privilege`
--

LOCK TABLES `s_module_privilege` WRITE;
/*!40000 ALTER TABLE `s_module_privilege` DISABLE KEYS */;
INSERT INTO `s_module_privilege` VALUES (1,'sys','select'),(2,'sys','add'),(3,'sys','edit'),(4,'sys','del'),(5,'dev','select'),(6,'dev','add'),(7,'dev','edit'),(8,'dev','del'),(9,'gateway','select'),(10,'gateway','add'),(11,'gateway','edit'),(12,'gateway','del'),(13,'dashboard','select');
/*!40000 ALTER TABLE `s_module_privilege` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_option`
--

DROP TABLE IF EXISTS `s_option`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_option` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(64) NOT NULL,
  `value` text NOT NULL,
  `created` timestamp NULL DEFAULT NULL,
  `updated` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uniq_code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_option`
--

LOCK TABLES `s_option` WRITE;
/*!40000 ALTER TABLE `s_option` DISABLE KEYS */;
/*!40000 ALTER TABLE `s_option` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_privilege`
--

DROP TABLE IF EXISTS `s_privilege`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_privilege` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(16) NOT NULL COMMENT '鏉冮檺缂栫爜',
  `name` varchar(32) NOT NULL COMMENT '鏉冮檺鍚嶇О',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COMMENT='鏉冮檺琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_privilege`
--

LOCK TABLES `s_privilege` WRITE;
/*!40000 ALTER TABLE `s_privilege` DISABLE KEYS */;
INSERT INTO `s_privilege` VALUES (1,'select','鏌ヨ'),(2,'add','澧炲姞'),(3,'edit','缂栬緫'),(4,'del','鍒犻櫎');
/*!40000 ALTER TABLE `s_privilege` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_role`
--

DROP TABLE IF EXISTS `s_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_role` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(32) NOT NULL,
  `name` varchar(64) NOT NULL,
  `preset` tinyint(1) NOT NULL DEFAULT '0' COMMENT '棰勭疆鐘舵€? 1棰勭疆 0闈為缃?,
  `status` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_role`
--

LOCK TABLES `s_role` WRITE;
/*!40000 ALTER TABLE `s_role` DISABLE KEYS */;
INSERT INTO `s_role` VALUES (1,'super','瓒呯骇绠＄悊鍛?,1,1,'2018-10-17 08:00:00','2018-10-17 08:00:00'),(2,'admin','绠＄悊鍛?,1,1,'2018-10-17 08:00:00','2018-10-17 08:00:00'),(3,'dealer','浠ｇ悊鍟?,0,1,'2024-12-24 22:36:38','2024-12-25 00:14:10');
/*!40000 ALTER TABLE `s_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_role_privilege`
--

DROP TABLE IF EXISTS `s_role_privilege`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_role_privilege` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `role_code` varchar(16) NOT NULL,
  `module_privilege_id` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=77 DEFAULT CHARSET=utf8mb4 COMMENT=' 瑙掕壊鏉冮檺琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_role_privilege`
--

LOCK TABLES `s_role_privilege` WRITE;
/*!40000 ALTER TABLE `s_role_privilege` DISABLE KEYS */;
INSERT INTO `s_role_privilege` VALUES (1,'admin',1),(2,'admin',5),(3,'admin',6),(4,'admin',7),(5,'admin',8),(50,'guest',9),(51,'guest',13),(52,'guest',17),(55,'dealer',5),(56,'dealer',7),(59,'dealer',6),(60,'dealer',8),(61,'admin',2),(62,'admin',3),(63,'admin',4),(68,'admin',9),(69,'admin',10),(70,'admin',11),(71,'admin',12),(72,'admin',13),(76,'dealer',13);
/*!40000 ALTER TABLE `s_role_privilege` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_user`
--

DROP TABLE IF EXISTS `s_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_user` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(32) DEFAULT NULL,
  `name` varchar(64) DEFAULT NULL,
  `pwd` varchar(128) DEFAULT NULL,
  `email` varchar(128) DEFAULT NULL,
  `phone` varchar(20) DEFAULT NULL,
  `login_time` datetime DEFAULT NULL,
  `status` tinyint(3) unsigned NOT NULL DEFAULT '1',
  `created` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_user`
--

LOCK TABLES `s_user` WRITE;
/*!40000 ALTER TABLE `s_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `s_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `s_user_role`
--

DROP TABLE IF EXISTS `s_user_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `s_user_role` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `user_code` varchar(32) NOT NULL,
  `role_code` varchar(32) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `s_user_role`
--

LOCK TABLES `s_user_role` WRITE;
/*!40000 ALTER TABLE `s_user_role` DISABLE KEYS */;
INSERT INTO `s_user_role` VALUES (1,'super','super'),(2,'admin','admin'),(3,'dealer1','dealer'),(5,'dealer2','dealer');
/*!40000 ALTER TABLE `s_user_role` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-03 10:06:38
